//- path
-path = {}
-path.img = "public/img/"
-path.css = "public/css/"
-path.js = "public/js/"
-path.plugin = "public/plugins/"

//- com
-com = {}
-com.load = false

//- meta
-meta = {}
-meta["title"] = "hundredHP"
-meta["keywords"] = "none"
-meta["description"] = "none"
//- meta["shortcut icon"] = "favicon.ico"

//- nav
-nav = {}
-nav.common = []
-nav.common.push({name:"Home", link:"index", icon:"home"})
-nav.common.push({name:"Products", link:"products", icon:"star-empty"})
-nav.common.push({name:"Links", link:"links", icon:"transfer"})
-nav.common.push({name:"Support", link:"support", icon:"plus"})
-nav.common.push({name:"Mail", link:"mail", icon:"send"})
-nav.common.push({name:"Blog", link:"index", icon:"link"})

//- text
-text = {}
-text.copyRight = "© HUNDRED since 2014 All Rights Reserved."